@import "tailwindcss";

@media print {
  body {
    background: #ffffff !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  body * {
    visibility: hidden;
  }

  #printable-member-card-front,
  #printable-member-card-front *,
  #printable-member-card-back,
  #printable-member-card-back * {
    visibility: visible;
  }

  #printable-member-card-front,
  #printable-member-card-back {
    position: relative !important;
    display: flex !important;
    page-break-inside: avoid !important;
    margin: 15mm auto !important;
    box-shadow: none !important;
    border: 1px solid #059669 !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    width: 85.6mm !important;
    height: 53.98mm !important;
  }
}
